<app-header class="header" [myDetails]='data'></app-header>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" [ngStyle]="{textAlign: 'center'}" style="height: 84vh;">
    <mat-tab label="Art on Exhibit"> 
        <app-exhibit [artDetails]='artdetails'></app-exhibit>
    </mat-tab>
    <mat-tab label="Art by Nation Only">
        <app-nation [nationDetails]="nation" [artDetails]='artdetails'></app-nation>
    </mat-tab>
</mat-tab-group>
<app-footer class="footer"></app-footer>