<table mat-table class="mat-elevation-z8" style="width: 80vw; margin: 0 auto; border: solid; margin-top: 5px; margin-bottom: 5px;">
    <tr mat-row style="height: 5vh;">
        <th mat-header-cell> No. </th>
        <th mat-header-cell> Title </th>
        <th mat-header-cell> Creator </th>
        <th mat-header-cell> Creation Date</th>
    </tr>
    <tr mat-row *ngFor="let art of artDetails; let i = index" style="height: 5vh;">
        <td mat-cell class="col0"> {{i+1}} </td>
        <td mat-cell class="col1"> <a href="{{art.url}}" target="_blank" rel="noopener noreferrer"
                style="color: black;">{{art.title}}</a></td>
        <td mat-cell class="col2"> {{art.creator}} </td>
        <td mat-cell class="col3"> {{art.creation_date}} </td>
    </tr>
</table>