<mat-toolbar color="primary" style="height: 8vh;">
    <span>Assignment #4</span>
    <span style="width: 80vw;"></span>
    <button mat-raised-button *ngIf="!aboutMe" (click)="aboutMe = true">About Me</button>
    <button mat-raised-button *ngIf="aboutMe" (click)="aboutMe = false">Close</button>
</mat-toolbar>
<div *ngIf="aboutMe" class="my-details">
    <div class="right">
        <h1>About Me</h1>
        Name: {{myDetails.A4Name}}
        <br><br>
        Email: {{myDetails.A4Email}}
        <br><br>
        Login: {{myDetails.A4Login}}
        <br><br>
        ID: {{myDetails.A4ID}}
        <br>
    </div>
    <div class="left">
        <img style="width: 10vw; height: auto;" src="{{myDetails.A4Photo}}" alt="">
    </div>
</div>